@model User;

@*
@foreach (var prop in typeof(User).GetProperties())
{
    <p>@prop.Name - @prop.GetValue(Model)</p>

}
*@

<a asp-controller="User" asp-action="Index" >Retour</a>

<h1>@Model.Firstname @Model.Lastname</h1>

<p>@Model.Email</p>



@if (Model.FavoriteMovie is not null)
{
    <h4>Films favoris</h4>
    <ol>
        @foreach (string movie in Model.FavoriteMovie)
        {
            <li>
                @movie
            </li>
        }
    </ol>
}



<a asp-controller="User" asp-action="Update" asp-route-id="@Model.ID" >Update</a>
<a asp-controller="User" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>

